#buscador
{
    width: 25%;
}
#barra_buscador
{
    background-color: #c7610e;
    width: 25%;
    color: white;
}
.header
{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    box-sizing: border-box;
}
.buscador
{
    text-align: right;
    background-color: #c7610e;
    padding: 1%;
}
header
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #c7610e;
    color: white;
}
a
{
    width: auto;
    height: auto;
    padding: 0 2% 0 2%;
}
aside
{
    text-align: right;
}
h1
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
body
{
    background-color: #ffffff;
}